<div class="container">
    <h1 class="text-center">Quotes</h1>
    <hr>
    <!--// id, quoteBody, publisher, datePublished, author-->
    <div class="row">
        <div class="col-md-6">
            <h5 class="text-center">Quotes</h5>
            <hr>
            <div *ngFor = "let quote of quotes; let i = index" class="card">
                <div class="card-body">
                    <div>
                        <p> Quote: {{quote.quoteBody}} </p>
                        <p> Publisher: {{quote.publisher}}</p>
                        <button (click) = 'toggleDetails(i)'>Show details</button>
                    </div>
                    
                    <div *ngIf='quote.showDescription'>
                        <app-quote-details [quote] = 'quote' (toDelete) = 'deleteQuoteFunc($event, i)' ></app-quote-details>
                    </div>
                </div>
                <div class="card-footer">
                    <button>buttons for upvote,downvote here</button>
                    <p>Date posted: {{quote.datePublished|date}} </p>
                </div>
                
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <app-quote-form></app-quote-form>
            </div>
        </div>
    </div>
</div>
