<div class="container" style="background-color: black;">
    <h1 class="jumbotron text-center border border-dark;" style="background-color: coral;">Quotes</h1>
    <hr>
    <!--// id, quoteBody, publisher, datePublished, author-->
    <div class="row">
        <div class="col-md-6">
            <h5 class="text-center" style="background-color: coral; ">Quotes</h5>
            <hr>
            <div *ngFor = "let quote of quotes; let i = index" class="card"   >
                <div class="card-body quote " >
                    <div class="" style="background-color: rgba(255, 196, 0, 0.877); ">
                        <p class="highlight"> Quote: {{quote.quoteBody}}</p>
                        <p> Publisher: {{quote.publisher}}</p>
                        <button (click) = 'toggleDetails(i)' class="btn btn-success" >Show details</button>
                    </div>
                    
                    <div *ngIf='quote.showDescription'>
                        <app-quote-details [quote] = 'quote' (toDelete) = 'deleteQuoteFunc($event, i)' ></app-quote-details>
                    </div>
                </div>
                <div class="card-footer" style="background-color: coral;">
                    
                    
                    <button class="btn btn-primary btn-sm" (click)= "increment(i)">{{quote.upVotes}} Upvote + </button> | <button class="btn btn-danger btn-sm" (click)= "decrement(i)">{{quote.downVotes}} Downvote -</button> 
                    <p>Date posted: {{quote.datePublished|date}} </p>
                </div><br>
                
            </div>
            <hr>
        </div>
        <div class="col-md-6">
            <div>
                <app-quote-form (addQuote) = "listQuote($event)"></app-quote-form>
            </div>
        </div>
    </div>
</div>
